<p-card header="Create Trip Post" [style]="{ 'margin-bottom': '1em', 'margin-top': '1em'}">
  <div class="grid p-fluid">

    <div class="col-12">
      <h5>Departure Date and Time</h5>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
        <p-calendar [(ngModel)]="tripInfo.departureTime" [showTime]="true" [showSeconds]="true"></p-calendar>
      </div>
    </div>

    <div class="col-12 sm:col-6 md:col-4">
      <h5>Departure City</h5>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
        <input [(ngModel)]="tripInfo.departure" type="text" pInputText placeholder="Departure city">
      </div>
    </div>

    <div class="col-12 sm:col-6 md:col-4">
      <h5>Destination City</h5>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
        <input [(ngModel)]="tripInfo.destination" type="text" pInputText placeholder="Destination city">
      </div>
    </div>

    <div class="col-12 sm:col-6 md:col-4">
      <h5>Capability</h5>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
        <input [(ngModel)]="tripInfo.seatsAvailable" type="number" pInputText placeholder="Number of seats available">
      </div>
    </div>

    <div class="col-12 sm:col-6 md:col-4">
      <h5>Price per Person</h5>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
        <input [(ngModel)]="tripInfo.price" type="number" pInputText placeholder="Price per Person">
      </div>
    </div>

    <div class="col-12">
      <h5>Vehicle</h5>
      <!-- Vehicle Brand -->
      <input class="col-12 sm:col-6 md:col-4" [(ngModel)]="tripInfo.vehicle.brand" type="text" pInputText placeholder="Vehicle Brand">

      <!-- Vehicle Color -->
      <input class="col-12 sm:col-6 md:col-4" [(ngModel)]="tripInfo.vehicle.color" type="text" pInputText placeholder="Vehicle Color">

      <!-- Vehicle Type -->
      <input class="col-12 sm:col-6 md:col-4" [(ngModel)]="tripInfo.vehicle.type" type="text" pInputText placeholder="Vehicle Type">

      <!-- Vehicle Plate Number -->
      <input class="col-12 sm:col-6 md:col-4" [(ngModel)]="tripInfo.vehicle.plateNum" type="text" pInputText placeholder="Plate Number">

      <!-- Vehicle Model -->
      <input class="col-12 sm:col-6 md:col-4" [(ngModel)]="tripInfo.vehicle.model" type="text" pInputText placeholder="Vehicle Model">

      <!-- Vehicle Year -->
      <input class="col-12 sm:col-6 md:col-4" [(ngModel)]="tripInfo.vehicle.year" type="number" pInputText placeholder="Vehicle Year">
    </div>
    <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
      <div class="col-12 sm:col-6 md:col-6">
          <!-- Add a button to submit the trip post -->
          <button pButton type="button" label="Create Post" (click)="sendPost()"></button>
      </div>
    </div>
    
  </div>
</p-card>